#CAMPUS_LIFE iframe {
    height:500px;
    width: 1000px;
}

img{
    height:500px;
    width: 1000px;
}
H1{
    color:blueviolet;
    font-family: 'Courier New', Courier, monospace
}
#myMenu{
    position:fixed; 
    top:0; 
    z-index:99999;
    background-color: black;
    width:100%;
}
h2{
    color:brown;
}
.movie_head i{
    float:right;
}

.movie_head{
    font-size:20px;
    border-radius: 5px;
}